* {
  margin: 0;
}

body {
  background-color: lightblue;
  color: darkblue;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph__title {
  margin-top: 11px;
}
.app__graph {
  flex-grow: 1;
}

.app__dropdown {
  position: relative;
  display: inline-block;
  width: 8rem;
}

.custom-select {
  width: 100%;
  height: 3.5rem;
  padding: 0.625rem 1.5625rem 0.625rem 0.625rem;
  box-sizing: border-box;
  border: 0.0625rem solid #e0e0e0;
  border-radius: 0.3125rem;
  appearance: none; /* to remove the default arrow */
  background-color: #ffffff;
  font-size: 1rem;
}

.custom-select:focus {
  border: 0.0625rem solid #3f51b5;
  outline: none;
}

.app__dropdown::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 0.9375rem;
  transform: translateY(-50%);
  pointer-events: none; /* so it doesn't interfere with the select */
  color: #3f51b5;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0.5rem;
  gap: 1rem;
}

.app__tableError {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  border: 1px solid red;
  border-radius: 8px;
  background-color: #f8d7da;
  color: #721c24;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .app__header {
    flex-direction: column;
  }

  .app__dropdown {
    margin-top: 3px;
  }
}
