* {
  margin: 0;
}

body {
  background-color: lightblue;
  color: darkblue;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph__title {
  margin-top: 11px;
}
.app__graph {
  flex-grow: 1;
}

.app__dropdown {
  background-color: white;
  border-radius: 10px !important;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .app__header {
    flex-direction: column;
  }

  .app__dropdown {
    margin-top: 3px;
  }
}
