.infoBox{
    flex: 1;
    cursor:pointer;
    }
    
    .infoBox:not(:last-child){
        margin-right: 15px;
    }
  .infoBox__cases{
      color: red;
      font-weight: 600;
      font-size: 1.75rem;
      margin-bottom: 0.5rem;
  }
  .infoBox__total{
      color:red;
      font-weight: 700 !important;
      margin-top: 15px !important; 
  }
  