.table{
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
}
.table tr {
  display: flex;
  justify-content: space-between;
}
.table td{
  padding: 0.5rem;
}

.table tr:nth-of-type(odd){
  background-color:darkblue;
  color:#dbc4f5;
    
}
.table tr:nth-of-type(even){
  background-color:lightblue;
  color:black;
}
    